.home{
    height:100vh;
    width: 100vw;
    background-color: black;
    /* position: relative; */
}

*{
    margin: 0;
    padding: 0;
    
    
}
a{
    color:grey;
    text-decoration: none;
    align-content: center;
    
}
a:hover{
    color:green;
}
.navbar{
    height:50px;
    background-color: rgb(33, 26, 26);
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 3px;
    display: flex;
    justify-content:space-evenly;
}
.links{
    width:800px;
    display:flex;
    justify-content: space-evenly;
}
.icons{
    width:150px;
    color: grey;
    display: flex;
    justify-content: space-around;
    padding-top: 11px;
}
.intro{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.self{
    color:white;
    width:500px;
    height:200px; 
    /* background-color: aqua; */
    position: absolute;
    left: 300px;
    top: 150px;
    
}
.self h1{
font-size: 48px;
}
.self p{
    margin-top: 20px;
    margin-bottom: 40px;
}

.image1{
    /* background-color: red; */
    position: absolute;
    top: 90px;
    right:350px;
    /* object-fit: cover; */
    
}
.image1 img{
    width:300px;
    height:400px;
    border-radius: 20%;
    margin-left: 200px;
}



.started{
  width:250px;
  height:48px;
  background-color: rgb(9, 166, 9);
  color: white;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgb(43, 238, 43);
  font-size: 16px;
}
.started:hover{
    background-color: rgb(12, 56, 12);
}
.home-last{
    margin-left:300px;
    margin-top:500px;
    
}
.home-last p{
    color:white;
    margin-bottom: 20px;

}
.home-last button{
    width:200px;
    height:50px;
    padding-right: 88px;
    margin-right:20px;
    background-color: black;
    color:grey;
    border:2px solid rgb(36, 36, 36);
    border-radius: 5px;
}
.home-last i{
   font-size:20px;
}
.second-page{
    /* height:100vh; */
    width:100vw;
    background: white;
    /* margin-top: 0px;
    padding-top: 0px; */
}
/* second page css starts */
.second-page p{
    color:grey;
}
.case-study{
    text-align: center;
    margin-top: 0px;
    padding-top: 60px;
}
.case-study h1{
    font-weight: 100%;
}
.case-study p{
    margin-top: 20px;
}
.case1{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.fintech{
    margin-left: 60px;
}
.fintech h4,.edtech h4,.pharma h4{
    border: 2px solid transparent;
    border-radius: 5px;
    
    width: max-content;
}
.fintech h4{
    color:orange;
    background-color:rgb(245, 226, 192);
}
.edtech h4{
    color:blue;
    background-color:rgb(224, 224, 248);
}
.pharma h4{
    color:rgb(24, 137, 128);
    background-color:rgb(188, 238, 234);
}
.fintech h2, .edtech h2, .pharma h2{
    margin-top: 20px;
}
.fintech p, .edtech p, .pharma p{
    margin-top:20px;
}
.fintech button, .edtech button, .pharma button{
    margin-top: 40px;
    border:2px solid transparent;
    border-radius: 5px;
    width:200px;
    height:40px;
    color: white;
}
.fintech button{
    background-color: orange;

}
.fintech button:hover{
     background-color: rgb(114, 77, 8);

}
.edtech button{
    background-color: blue;

}
.edtech button:hover{
    background-color: rgb(3, 3, 67);
}
.pharma button{
    background-color: rgb(24, 137, 128);
}
.pharma button:hover{
    background-color: rgb(4, 65, 60);
}
.case-image1{
    width:500px;
    height: 300px;
    padding-left: 0px;
    margin-left: 20px;
    overflow: hidden;
    /* background-color: red; */
    border:2px solid transparent;
    border-radius: 10px;

}
.case-image1 img, .case-image2 img, .case-image3 img{
    height: 250px;
    width:400px;
    border-radius: 5px;
    
}
.case2 , .case3{
    display:flex;
    margin-top: 10px;
    margin-left: 430px;
}
.edtech{
    margin-left: 60px;
}
.case3{
    margin-top: 60px;
    margin-bottom: 50px;
}
.case-image3{
    padding-left: 20px;
}
/* third page css starts */

.third-page{
    background-color: black;
}
.testimonial h1{
    color:white;
    text-align: center;
    padding-top: 70px;
}
.testimonial p{
    margin-top: 15px;
    text-align: center;
}
.tests{
    padding-left: 450px;
    padding-right: 100px;
    padding-bottom: 80px;
    height:400px;
    width: 800px;
    margin-top: 60px;
    display: grid;
    gap:40px;
    grid-template-columns: 1fr 1fr;
    
}


.test1, .test2, .test3 ,.test4{
    padding-top:30px;
    padding-left: 30px;
    border:1px solid white;
    /* border-radius:3px; */
    border-image: linear-gradient(to left,black, white)1;
    position: relative;
}
.collon{
    color:white;
    font-size:50px;
    width:45px;
    position:absolute;
    top:-20px;
    left:6px;
}
.test1 h3, .test2 h3, .test3 h3 ,.test4 h3{
    color:white;
    padding-top: 15px;
    padding-left:10px;

}
.tests img{
    width:50px;
    height:50px;
    border-radius: 100%;
}
.client1, .client2 , .client3, .client4{
    padding-top: 30px;
    display: flex;
}
/* forth page starts here */
.forth-page{
    padding-left:200px;
    padding-right:200px;
}
.recent{
    text-align:center;
    margin-top:80px;
    margin-bottom: 80px;
}
.works{
    display: flex;
    gap:50px;
    padding-left: 250px;
    margin-bottom:50px;
}
.works img{
     height: 250px;
    width:400px;
    border-radius: 5px;
}
.work1 h2, .work2 h2{
    margin-top: 30px;
    font-weight: 100px;
}

.work1 p, .work2 p{
    margin-top: 25px;
}
.work1 button, .work2 button{
    margin-top: 30px;
    height:38px;
    width:200px;
    border-radius: 3px;
    border:2px solid transparent;
    background-color: rgb(10, 117, 10);
    color:white;
}
.work1 button:hover, .work2 button:hover{
    background-color: rgb(12, 56, 12);
}
/* footer starts */
.fifth-page{
    background-color: black;
    
}
.touch{
    text-align: center;
    padding-top: 80px;
}
.touch h1{
    color:white;
}
.touch p{
    padding-top: 16px;
}
label{
   
    color:white;
}
.l-email{
     margin-left:-237px;
}
.l-number{
     margin-left:-230px;
}
.l-message{
 margin-left:-220px;
}
.form{
    text-align: center;
    padding-top: 35px;
    margin-bottom: 50px;
}
.footer{
    height:55px;
    background-color: rgb(33, 26, 26);
    color:grey;
    font-size: 10px;
    text-align: center;
}
.footer h1{
padding-top: 15px;
}
.form input{
    width:270px;
    
}
.email, .number{
    height:35px;
}
.message{
    width:275px;
    height:90px;
}
/* .message::placeholder{
    position: absolute;
    top:2px;
    padding-top: 0px;
    margin-top: 0px;
    
} */
.submit{
    height:40px;
       background-color: rgb(10, 117, 10);
       color:white;
       border: 2px solid transparent;
       border-radius: 5px;

}
.submit:hover{
    background-color: rgb(12, 56, 12);

}
.footer i{
    color:red;
}